<!DOCTYPE html>
<head>
    <title>Doctor Details</title> 
    <style>
        body{
            text-align: center !important;
            background-image: radial-gradient(circle, lightblue, cadetblue, blue, darkblue, navy);
        }
        #div1{
            border-style: solid;
            background-color: burlywood;
            margin: auto;
            width: 800px;
            padding: 20px;
            display: table;
        }
    </style>
</head>
<body>

    <br><br>
    <div id="div1">
        <h2>List of registered doctors in the system.</h2>
    <center><table class="table" cellpadding ="5" style ="background-color: lightcyan;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <% profile.forEach(user => { %>
                <tr>
                    <td><%= user.fullName%></td>
                    <td><%= user.email%></td>
                    <td><form action="/delete-doctor-record:id <% profile._id %>" method="DELETE">
                            <button type="submit">Delete</button>
                         </form>
                    </td>
                    <td><button><a href="/update-doctor-record">Update</a></button></td>
                    <!-- <td><form action="/select-doctor-record:id <% profile._id %>" method="SELECT">
                        <button type="submit">Select</button>
                     </form> -->
                </td>
                </tr>
                <% }); %>
            </tbody>
        </table></center><br><br>
    <div>
        <button class="btn btn-success"><a href="/"> Logout </a></button>
    </div>
    </div>
    
</body>
</html>