<!DOCTYPE html>
<head>
    <title>Home</title>
    <style>
        body{
            text-align: center !important;
            background-image: radial-gradient(circle, lightgreen, olive, green, darkgreen);
        }
        #div1{
            border-style: solid;
            background-color: burlywood;
            margin: auto;
            width: 800px;
            padding: 20px;
            display: table;
        }
    </style>
</head>
<body>
    <br><br>
    <div id="div1">
        <h2>Welcome to my doctor and patient's express app!</h2> 
        <p>Below are the links to register as a doctor or a patient. <br>
            You can follow the links and register respectively.</p> 
    </div><br>
    <div>
        <button><a href="/doctor-details"> Doctor Registration </a></button>
        <button><a href="/patient-details"> Patient Registration </a></button>
    </div>
    
</body>
</html>