<!DOCTYPE html>
<head>
    <title>Patient Registration</title> 
    <style>
        body{
            text-align: center !important;
            background-image: radial-gradient(circle, pink, lightpink, hotpink, purple);
        }
        #div1{
            border-style: solid;
            background-color: burlywood;
            margin: auto;
            width: 800px;
            padding: 20px;
            display: table;
        }
    </style>
</head>
<body>
    <br><br>
    <div id="div1">
    <h3> Register a new patient into the system </h3>
      <form action="/patient-details" method="POST"> 
          <label for="name">Name:</label>
          <input type="Text" id="name" name="name" required><br><br>
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" required><br><br>
          <label for="email">Email Address:</label>
          <input type="Email" id="email" name="email" required><br><br>
          <label for="password">Password:</label>
          <input type="Password" id="password" name="password" required><br><br>
          <button> Submit </button> 
      </form>
      <br><br>
        <div>
            <span>Already Registered! <a href="/view-patient-info">View Patient's Details</a></span> 
        </div> 
    </div>
</body>
</html>